a.noline{
    text-decoration: none;
}

a.disabled{
    pointer-events: none;
}

a.dtxt{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 300;
    color: #000;
}

h1.gradtxt {
    font-size: 78px;
    font-family: 'Roboto';
    font-weight: 700;
    background: -webkit-linear-gradient(#00FF57, #0057FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label.deftxt{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
}

h2.deftxt{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 300;
}

h2.bigtxt{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 300;
}

h2.lowtxt{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
}

button.gradbtn{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
    background: -webkit-linear-gradient(#00FF57, #0057FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.routelink:link{
    color: black;
}

a.routelink:visited{
    color: #000;
}

a.routelink:hover{
    color: white;
}

img.btnimg:hover{
    outline: lightgreen;
    outline-style:solid;
}

.btn-outline-success:hover{
    background-color: #00C392 !important;
}

#author{
    position: fixed;
    right: 0;
    bottom: 0;
}

.box span{white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}